/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* font inladen en maken */
@font-face {
    font-family: 'Navigatie';
    src: url('font/Roobert TWHINT Bold.otf');
    font-weight: bold;
}

/* font aanroepen etc */
body {
    margin: 1.2em;
    padding: 0;
    /*font-family: sans-serif;*/
    font-family: 'Navigatie', sans-serif;
    background-color: #f7f7f8;
}

main {
    margin-left: 40px;
}

h1 {
    display: none;
}

h2 {
    font-size: 1.3em;
}

h2 a span {
    color: #9147ff;
}

a:visited,
a:link {
    text-decoration: none
}

a:visited {
    color: black;
}

header nav {
    font-family: 'Navigatie', sans-serif;
}

/* navigatie geen list style geven, dus geen list item point */
/* flex zorgt ervoor dat de inhoud naast elkaar komt te staan op een responsive manier */
header nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    margin-top: -48px;
    margin-left: 40px;
    padding: 0.5em;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li {
    padding: .2em 1em;
}


header nav ul a {
    list-style: none;
}

nav {
    display: flex;
    color: black;

}

.vertical {
    flex-direction: column;
    list-style: none;
    position: absolute;
    margin-left: -50px;
    height: 100%;
    background-color: #efeff1;
    z-index: 5;
}

.vertical img {
    width: 38px;
}

.expand {

}

.expandedMenu {
    display: none;
    width: 300px;
}

expandedMenu.Expand {
    transform: translateX(0%);
}

nav a:hover {
    color: #9147ff;
}

.logo {
    width: 33px;
    margin-left: 3px;
    margin-top: -8px;
    padding: 0;
}

.dots {
    width: 2%;
    margin-left: 480px;
    margin-top: -69px;
    position: absolute;

}

.subNAV {
    width: 1100px;
    position: absolute;
    margin-top: 16.5px;

}

.subNAV input {
    display: none;
}

.subNAV input:checked ~ .submenu {
    display: block;
    max-height: 1200px;
    max-width: 600px;
    position: absolute;
    margin-left: 435px;
    margin-top: -29px;
    padding-right: 50px;
    background-color: white;
    z-index: 2;

}

.submenu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s easy-out;
    list-style: none;

}



.slideShowMobile {
    display: none;
}

form {
    top: -0.86%;
    left: 39%;
    position: absolute;


}

header form {
    padding: .75em;
    flex-grow: 5;
    display: flex;
    justify-content: flex-end;

}

.icons {
    float: right;
    margin-top: -65px;
    margin-right: 20px;
}

button,
input {
    border: none;
}

input {
    background-color: #eaeaea;
    width: 380px;
    height: 40px;
    border-radius: 4px;

}

#showMore {

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    list-style: none;
    margin-top: 350px;
    border: none;
}

.meerWeergeven {
    list-style: none;
    display: none;
    padding: .2em .2em 0;

}

.categories {
    margin-top: 10em;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.stream a {
    position: relative;
    display: block;

}

.stream img {
    width: 100%;
    transform: translate(0, 0);
    /*verplaats image is translate*/
    transition: 0.3s transform ease-in-out;
}

.stream a:hover img {
    transform: translate(3%, -3%);
}

ul section {
    margin: 0 5px;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3.6px;
    background-color: #9147ff;
    z-index: -1;
}

.twitch {
    margin-right: -50px;
    left: 80%;
}


-----------------------------------
/*
.stream {
  position: relative;
  display: inline-block;
  background-color: #9147ff;
}

  .stream:before,
  .stream:after {
    content: '';
    display: block;
    background-color: #9147ff;
    width: 341px;
    height: 190px;
    position: absolute;
    transition: all .15s ease;
    margin-top: -190px;
    }

  .stream:before {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(0deg) scale(0);
  }

  .stream:after {
    right: 40;
    bottom: 40;
    transform-origin: bottom right;
    transform: rotate(0deg) scale(0);
  }

  .stream__thumbnail {
    display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    position: relative;
    z-index: 10;
  }

.stream:hover .stream__thumbnail {
  transform: translate(3%, -6%);
}

.stream:hover:before {
  transform: rotate(0deg) scale(1);
}

.stream:hover:after {
  transform: rotate(0deg) scale(1);
  z-index: -1;
}
*/

---------------------------------------- article {
    border-bottom: 2px solid #C0C0C0;
    /*
    flex-flow: row;
    display: flex;
    */
}

article ul {
    list-style: none;
    display: flex;
    padding: .2em .2em 0;

}

article ul li img {
    /*width: 20em 10em;*/
    width: 90%;
}

article p {
    font-size: 12px;

}

h3 {
    font-size: 14px;
}

.onderStream {
    width: 14%;
    float: left;

}

.onderStreamText {
    font-size: 14px;
    float: right;
    margin-right: -12em;
    margin-top: -6em;
    padding: inherit;
}

.onderStream2 {
    width: 8%;
    float: left;

}

.onderStreamText2 {
    font-size: 14px;
    float: right;
    margin-right: -18.5em;
    margin-top: -6em;
    padding: inherit;
}

.onderStream3 {
    width: 8%;
    float: left;

}

.onderStreamText3 {
    font-size: 14px;
    float: right;
    margin-right: -9.5em;
    margin-top: -6em;
    padding: inherit;
}

input[type=submit] {
    text-decoration: none;
}

.english {
    float: right;
    margin-right: -7em;
}

#searchButton {
    text-decoration: none;
}

@keyframes vergroot {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*article ul li a:hover img{
    box-shadow: -10px 10px 10px 10px;
    animation-name: vergroot;
    animation-duration: 1s;
}
*/
.iconsMobile {
    display: none;
}

.mobileH {
    display: none;
}

.twitchMobile {
    display: none;
}

.mobileStream {
    display: none;
}

@media only screen and (max-width: 600px) {

    body {
        margin: 1.2em;
        padding: 0;

    }

    h2 {
        display: none;
    }

    button {
        display: none;
    }

    article > ul li:nth-of-type(2),
    li:nth-of-type(4) {
        display: none;
        justify-content: center;
        align-content: flex-start;
    }

    header nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 1em;
        border-bottom: 2px solid #C0C0C0;
        position: absolute;
        bottom: 0;
        background-color: white;
        display: none;
    }

    .vertical {
        display: none;
    }

    .slideShow {
        display: none;
    }

    .categories {
        display: none;
    }

    .slideShowMobile {
        display: block;
        width: 100%;
        margin-left: -20px;
    }

    .mobiel {
        display: none;
    }

    .stream,
    .onderStream,
    .onderStream2,
    .onderStreamText,
    .onderStreamText2,
    .onderStream3,
    .onderStreamText3 {
        display: none;
    }

    .icons {
        display: none;
    }

    .logo {
        display: none;
    }

    .iconsMobile {
        display: block;
        width: 100%;
        margin-right: 20px;
    }

    .form,
    header form {
        display: none;
    }

    .mobileH {
        display: block;
        margin-left: 20px;
        font-size: 30px;
    }

    .twitch {
        display: none;
    }

    .mobileStream {
        display: block;
        width: 120%;
        margin-left: -60px;
        margin-top: -20px;
    }
